$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);
// rgb(234, 227, 227)

$inputBackground: rgb(239, 233, 233);
$darkGrey: rgb(133, 132, 132);
$error: rgb(169, 23, 23);
