//576
@use "../../Sass/Variables" as *;

.searchWithDropdown {
  min-width: 30rem;
  max-width: 40rem;
  margin: 0 auto;
}

.inputBackground {
  height: 5rem;
  padding: 0.5rem;
  background-color: rgb(206, 197, 197);
  min-width: 30rem;
}
.inputContainer {
  width: 100%;
  border-radius: 2rem;
  display: flex;
  justify-content: right;
  padding: 0.5rem 0.5rem;
  background-color: $inputBackground;
  margin-bottom: 0.2rem;
  border: 1px solid $darkGrey;

  &:active,
  &:focus,
  &:hover {
    border-color: $darkGrey;
  }
}

.input {
  width: 85%;
  border: none;
  height: 3rem;
  font-size: 2rem;
  background-color: $inputBackground;

  &::placeholder {
    font-size: 2rem;
    color: $darkGrey;
  }
}

.iconContainer {
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 2.5rem;
  height: 2.5rem;
  color: $darkGrey;
}
