@use "../../Sass//Variables" as *;
@use "../../Sass/Mixins" as *;
@use "sass:map";

.formContainer {
  width: 80%;
  min-width: 30rem;
  max-width: 40rem;
  color: rgba(21, 19, 19, 0.704);
  border: 1px solid $darkGrey;
  border-radius: 0.8rem;
  background-color: $inputBackground;
}

.formHeader {
  width: 100%;
}

.FHButtonContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.titleContainer {
  text-align: center;
}

.form {
  @include flexColumnCenterAxisX;
}

.title {
  font-size: 2.5rem;
  margin-top: 0;
}

.button {
  width: 20rem;
  margin: 2rem;
  font-size: 2.2rem;
  letter-spacing: 0.1rem;

  &:disabled:hover {
    border: 1px solid $darkGrey;
  }
}

.inputContainer {
  @include flexColumnCenterAxisX;
  gap: 1rem;
}