@use "./base.module.scss";
@use "../../Sass//Variables" as *;
@use "../../Sass/Mixins" as *;
@use "sass:map";

@media screen and (min-width: map.get($breakpoints, "sm")) {
  .formContainer {
    width: 50rem;
    max-width: none;
  }
}

@media screen and (min-width: map.get($breakpoints, "md")) {
  .formContainer {
    width: 70rem;
  }

  .inputContainer {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr) 0.5fr;
    justify-items: center;
    align-items: center;
  }

  .formFooter {
    grid-column-start: 2;
    grid-row: 2/ 4;
  }
}
