.wrapper {
  width: 80%;
  min-width: 30rem;
  max-width: 40rem;
  padding: 0.5rem;
  -webkit-box-shadow: 5px 8px 16px -8px rgba(103, 103, 105, 0.63);
  -moz-box-shadow: 5px 8px 16px -8px rgba(103, 103, 105, 0.63);
  box-shadow: 5px 8px 16px -8px rgba(103, 103, 105, 0.63);
}
