@use "../../Sass/Variables" as *;

.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: $inputBackground;
  border-radius: 0.8rem;
}

.button {
  width: 25rem;
  margin: 2rem;
  font-size: 1.5rem;
  font-weight: 600;
  border-radius: 2rem;
  border: 1px solid $darkGrey;
  background-color: rgb(206, 197, 197);
  height: 3.5rem;
}
