@use "../../Sass/Variables" as *;

.customInputContainer{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.customInput{
    border-radius: 0.8rem;
    line-height: 2.5rem;
    font-size: 1.6rem;
    border: 1px solid $darkGrey;
    outline: none;
}

.customInputLabel{
    font-size: 1.6rem;
}